#backgroundColor
{
    background-color: rgb(15, 99, 217);
}

.image-box 
    {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.image-top {
    height: 70%;
    background-image: url("assets/drumset.jpg");
    background-attachment: fixed;
    
  }

  .iconContainer 
  {
      margin: auto;
      width: 200px;
  }


.headers {
    position: relative;
    top: 50%;
    margin: auto;
    text-align: center;
  }
  
.header-text {
    background-color: black;
    color: whitesmoke;
    letter-spacing: 4px;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
  }
  
.textContainer
{
    padding: 15px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.borderContainer
{
    margin: 80px;
    border-color: black;
    border-width: 3.5px;
    border-style: ridge;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    clear: both;
}

.imageFloatLeft
{
    float: left;
}

.imageFloatRight
{
    float: right;
}

.subHeaderLeft
{
        font-size: 24px;
        margin: 15px;
        text-align: justify;
        font-family: 'Roboto Slab', serif;
}

.subHeaderRight
{
        font-size: 24px;
        margin: 15px;
        text-align: right;
        font-family: 'Roboto Slab', serif;
}

.imgContainer
{
    width: 240px;
}

.imgContainer2
{
    width: 210px;
}

.imgcontainer3
{
    width: 210px;
}


@media(max-width: 1070px)
{
    .imgContainer
    {
        width: 20%;
        height: initial;
    }
    .imgContainer2
    {
        width: 40%;
        height: initial;
    }
    .imgcontainer3
    {
        width: 40%;
        height: initial;
    }
    .borderContainer{
        width: 80%;
        height: initial;
    }
}
