#backgroundColor
{
    background-color: rgb(15, 99, 217);
}

.image-box 
    {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.image-top {
    height: 70%;
    background-image: url("assets/drumset.jpg");
    background-attachment: fixed;
    
  }

  .iconContainer 
  {
      margin: auto;
      width: 200px;
  }


.headers {
    position: relative;
    top: 50%;
    margin: auto;
    text-align: center;
  }
  
.header-text {
    background-color: black;
    color: whitesmoke;
    letter-spacing: 4px;
    padding: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.headerBorder
{
    border: 3.5px dashed black;
    background-color: black;
    margin-right: 25%;
    margin-left: 25%;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

.header-text2 {
    color: whitesmoke;
    letter-spacing: 4px;
    padding: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
  
.textContainer
{
    padding: 15px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.borderContainer
{
    margin: 80px;
    border-color: black;
    border-width: 3.5px;
    border-style: ridge;
    border-radius: 10px;
    padding: 10px;
    background-color: whitesmoke;
    clear: both;
}

.borderContainer2
{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 15px;
    border-color: black;
    border-width: 3.5px;
    border-style: ridge;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
}

.borderContainer3
{
    margin-right: 25%;
    margin-left: 25%;
    border-color: black;
    border-width: 3.5px;
    border-style: ridge;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: whitesmoke;
}

.imageFloatLeft
{
    float: left;
}

.imageFloatRight
{
    float: right;
}

.subHeaderLeft
{
        font-size: 24px;
        margin: 15px;
        text-align: justify;
        font-family: 'Roboto Slab', serif;
}

.subHeaderRight
{
        font-size: 24px;
        margin: 15px;
        text-align: right;
        font-family: 'Roboto Slab', serif;
}

.imgContainer
{
    width: 240px;
}

.imgContainer2
{
    width: 210px;
}

.imgcontainer3
{
    width: 210px;
}


@media(max-width: 1070px)
{
    .imgContainer
    {
        width: 20%;
        height: initial;
    }
    .imgContainer2
    {
        width: 40%;
        height: initial;
    }
    .imgcontainer3
    {
        width: 40%;
        height: initial;
    }
    .borderContainer{
        width: 67.5%;
        height: initial;
    }
    .InfoButton
    {
        width: 40%;
        height: intial;
    }
    .PreviousButton
    {
        width: 80%;
        height: initial;
    }
}


.button_properties_right
{
    border: rgb(15, 99, 217);
    color: whitesmoke;
    text-align: center;
    padding: 16px 20px;
    float: right;
    margin-right: 100px;
    font-size: 16px;
    transition-duration: 0.8s;
    cursor: pointer;
}

.button_properties_left
{
    border: rgb(15, 99, 217);
    color: whitesmoke;
    text-align: center;
    padding: 16px;
    margin-left: 100px;
    font-size: 16px;
    transition-duration: 0.8s;
    cursor: pointer;
}

.NextButton
{
    background-color: whitesmoke;
    color: black;
    border: none;
}

.NextButton:hover
{
    background-color: rgb(38, 250, 18);
    color: whitesomke;
}

.PreviousButton
{
    background-color: whitesmoke;
    color: black;
    border: none;
}

.PreviousButton:hover
{
    background-color: rgb(255, 6, 68);
    color: whitesmoke;
}

.InfoButton
{
    background-color: whitesmoke;
    color: black;
    border: none;
}

.InfoButton:hover
{
    background-color: rgb(38, 250, 18);
    color: whitesmoke;
}

.subHeaderMid
{
        font-size: 24px;
        margin: 15px;
        text-align: center;
        font-family: 'Roboto Slab', serif;
}

.submit_button
{
    background-color: whitesmoke;
    color: black;
    border: none;
    text-align: center;
}

.submit_button:hover
{
    background-color: rgb(255, 230, 0);
    color: black;
}

.button_properties
{
    border: rgb(15, 99, 217);
    color: black;
    text-align: center;
    padding: 16px 20px;
    margin-left: 46%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    transition-duration: 0.8s;
    cursor: pointer;
}

.input_headers
{
    padding: 15px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

input
{
    text-align: center;
    border: 3px groove black;
    border-radius: 4px;
    color: black
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.name_container
{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 15px;
    margin: auto;
}

.number_container
{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 15px;
    margin: auto;
}

.email_container
{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 15px;
    margin: auto;
}

.message_container
{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 15px;
    margin: auto;
}

